@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif; }

.bg-primario {
  background-color: #01110a; }

.bg-secundario {
  background-color: #ba2d0b; }

.container-fluid {
  padding: 10px 100px 10px 100px; }

.navbar-nav {
  margin-right: 20px; }

.seccion-de-hero {
  max-width: 1920px;
  height: 600px;
  background-color: #01110a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-origin: padding-box;
  background-attachment: fixed;
  margin-bottom: 200px; }
  .seccion-de-hero .titulo-hero {
    text-align: center;
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    margin: 0px 150px 80px 150px; }
  .seccion-de-hero .formulario-hero {
    background-color: #fff;
    max-width: 80%;
    height: 100px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
    top: 640px; }
    .seccion-de-hero .formulario-hero .form-floating {
      margin: 0px 10px 0px 10px; }
    .seccion-de-hero .formulario-hero .btn {
      color: #fff;
      margin: 0px 10px 0px 10px; }

.contacto-hero {
  background-color: #01110a;
  max-width: 1920px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 100px; }
  .contacto-hero .titulo-hero {
    text-align: left;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 80px;
    margin-left: 100px; }
  .contacto-hero .contacto-form {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    top: 150px;
    left: 1300px; }
    .contacto-hero .contacto-form .titulo-formulario {
      font-size: 22px;
      color: #444444;
      margin: 10px 0px 0px 0px; }
    .contacto-hero .contacto-form .form-floating {
      margin: 10px 0px 10px 0px; }
    .contacto-hero .contacto-form .btn {
      color: #fff;
      margin: 10px 0px 10px 0px; }

/** Contacto  */
.contacto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px 0px 200px 100px; }
  .contacto-info h2 {
    color: #01110a;
    font-size: 24px;
    margin-bottom: 20px; }
  .contacto-info iframe {
    border-radius: 20px; }

/** Regular Desktop */
@media (max-width: 1440px) {
  .container-fluid {
    padding: 10px 80px 10px 80px; } }

/** Macbook Air */
@media (max-width: 1280px) {
  .container-fluid {
    padding: 10px 50px 10px 50px; } }

/** Ipad Pro 12.9" */
@media (max-width: 1024px) {
  .container-fluid {
    padding: 10px 40px 10px 40px; } }

/** Ipad Pro 11" */
@media (max-width: 834px) {
  .container-fluid {
    padding: 10px 40px 10px 40px; } }

/** Ipad Mini 8.3  */
@media (max-width: 744px) {
  .container-fluid {
    padding: 10px 40px 10px 40px; } }

/** Iphone Pro Max 14 & 15  */
@media (max-width: 430px) {
  .container-fluid {
    padding: 10px 20px 10px 20px; }
  .seccion-de-hero {
    max-width: 430px;
    height: 400px;
    margin-bottom: 100px; }
    .seccion-de-hero .titulo-hero {
      font-size: 34px;
      margin: 0px 50px 80px 50px; }
    .seccion-de-hero .formulario-hero {
      max-width: 95%;
      height: 400px;
      padding: 10px 20px 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      position: absolute;
      top: 440px; }
      .seccion-de-hero .formulario-hero .form-floating {
        width: 90%;
        margin: 10px 0px 10px 0px; }
      .seccion-de-hero .formulario-hero .btn {
        width: 90%;
        margin: 0px 10px 0px 10px; } }

/** Iphone 14 & 15  */
@media (max-width: 390px) {
  .container-fluid {
    padding: 10px 10px 10px 10px; }
  .seccion-de-hero {
    max-width: 390px;
    height: 400px;
    margin-bottom: 100px; }
    .seccion-de-hero .titulo-hero {
      font-size: 32px;
      margin: 0px 50px 80px 50px; }
    .seccion-de-hero .formulario-hero {
      max-width: 90%;
      height: 400px;
      padding: 10px 20px 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      position: absolute;
      top: 440px; }
      .seccion-de-hero .formulario-hero .form-floating {
        width: 90%;
        margin: 10px 0px 10px 0px; }
      .seccion-de-hero .formulario-hero .btn {
        width: 90%;
        margin: 0px 10px 0px 10px; } }

/** Iphone SE  */
@media (max-width: 320px) {
  .container-fluid {
    padding: 10px 10px 10px 10px; }
  .seccion-de-hero {
    max-width: 320px;
    height: 400px;
    margin-bottom: 100px; }
    .seccion-de-hero .titulo-hero {
      font-size: 24px;
      margin: 0px 50px 80px 50px; }
    .seccion-de-hero .formulario-hero {
      background-color: #fff;
      max-width: 80%;
      height: 100px;
      padding: 10px 20px 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      position: absolute;
      top: 640px; }
      .seccion-de-hero .formulario-hero .form-floating {
        margin: 0px 10px 0px 10px; }
      .seccion-de-hero .formulario-hero .btn {
        color: #fff;
        margin: 0px 10px 0px 10px; } }
