.seccion-de-hero {
    max-width: 100%;
    height: 600px;
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    background-attachment: fixed;
    margin-bottom: 200px;

    .titulo-hero {
        text-align: center;
        color: $color-blanco;
        font-size: 52px;
        font-weight: 600;
        margin: 0px 150px 80px 150px;
    }

    .formulario-hero {
        background-color: $color-blanco;
        max-width: 80%;
        height: 100px;
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        position: absolute;
        top: 640px;

        .form-floating {
            margin: 0px 10px 0px 10px;
        }

        .btn {
            color: $color-blanco;
            margin: 0px 10px 0px 10px;
        }
    }
}

.contacto-hero {
    background-color: $color-principal;
    max-width: 1920px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 100px;

    .titulo-hero {
        text-align: left;
        color: $color-blanco;
        font-size: 42px;
        font-weight: 600;
        margin-bottom: 80px;
        margin-left: 100px;
    }

    .contacto-form {
        width: 500px;
        padding: 20px;
        background-color: $color-blanco;
        border-radius: 10px;
        position: fixed;
        top: 150px;
        left: 1300px;

        .titulo-formulario {
            font-size: 22px;
            color: $color-texto;
            margin: 10px 0px 0px 0px;
        }

        .form-floating {
            margin: 10px 0px 10px 0px;
        }

        .btn {
            color: $color-blanco;
            margin: 10px 0px 10px 0px;
        }
    }
}

/** Index */

.ofertas-de-temporada {
    padding: 0px 100px 0px 100px;
    margin: 0px 100px 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .titulo-seccion {
        color: $color-texto;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .oferta-temporada-galeria {
        display: flex;
        
        .oferta-temporada-card {
        width: 250px;
        height: 250px;
        border-radius: 8px;
        margin: 0px 10px 0px 10px;
        background-size: cover;
        background-position: center;
        background-origin: padding-box;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-decoration: none;

        h3 {
            color: $color-blanco;
            font-size: 20px;
            text-align: right;
            margin: 10px;
            
        }
        }
    }
}

.nuestro-hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;

    .nuestro-izquierda {
        width: 50%;
        height: 500px;
        border-radius: 0px 20px 20px 0px;
        background-size: cover;
        background-position: center;
        background-origin: padding-box;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 20px;
            background-color: $color-principal;
            border-radius: 10px;
            margin: 0px 20px 20px 0px;

            h3 {
                color: $color-blanco;
                margin-bottom: 20px;
                font-size: 20px;
            }

            .btn {
                color: $color-blanco;
                margin: 10px 0px 10px 0px;
                font-weight: 400;
            }
        }
    }

    .nuestro-derecha {
        width: 50%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .meet-pucon-1 {
            width: 80%;
            height: 220px;
            border-radius: 20px;
            background-color: $color-principal;
            display: flex;

            img {
                width: 250px;
                border-radius: 20px 0px 0px 20px;
            }
            
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 20px;

                h3 {
                    color: $color-blanco;
                    margin-bottom: 20px;
                    font-size: 20px;
                }

                .btn {
                    color: $color-blanco;
                    margin: 10px 0px 10px 0px;
                    font-weight: 400;
                }
            }
        }

        .meet-pucon-2 {
            width: 80%;
            height: 220px;
            border-radius: 20px;
            background-color: $color-principal;
            display: flex;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 20px;
    
                h3 {
                    color: $color-blanco;
                    margin-bottom: 20px;
                    font-size: 20px;
                }

                .btn {
                    color: $color-blanco;
                    margin: 10px 0px 10px 0px;
                    font-weight: 400;
                }
            }
    
            img {
                    width: 250px;
                    border-radius: 0px 20px 20px 0px;
            }
                
            
        }
    }
}

.nuestras-actividades {
    padding: 0px 100px 0px 100px;
    margin: 0px 100px 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .titulo-seccion {
        color: $color-texto;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .galeria-actividades-home {
        display: flex;
        justify-content: space-around;

        .card {
            background-color: $color-principal;
            margin: 0px 10px 0px 10px;
            height: 300px;
            border: 0;
            border-radius: 12px;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .card-title {
                    color: $color-blanco;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .btn {
                    color: $color-blanco;
                    margin: 10px 0px 10px 0px;
                    font-weight: 400;
                }
            }

        }
    }
}

/** Contacto  */

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 200px 100px;

    h2 {
        color: $color-principal;
        font-size: 24px;
        margin-bottom: 20px;
    }

    iframe {
        border-radius: 20px;
    }
}