$color-principal: #01110a;
$color-secundario: #ba2d0b;
$color-fondo: #eff1ed;
$color-comp-1: #6a994e;
$color-comp-2: #a7c957;
$color-blanco: #fff;
$color-negro: #000;
$color-texto: #444444;
$color-etiquetas: #969696;

.bg-primario {
    background-color: $color-principal;
}

.bg-secundario {
    background-color: $color-secundario;
}