$color-principal: #06283D;
$color-secundario: #64CCC5;
$color-fondo: #FFF6E9;
$color-comp-1: #6a994e;
$color-comp-2: #a7c957;
$color-blanco: #fff;
$color-negro: #000;
$color-texto: #444444;
$color-etiquetas: #969696;

.bg-primario {
    background-color: $color-principal;
}

.bg-secundario {
    background-color: $color-secundario;
}

.bg-secundario:hover {
    background-color: #031520;
    color: $color-blanco;
}

.bg-primario:hover {
    background-color: #031520;
    color: $color-blanco;
}