
@media (max-width:1200px) {
    .hero-home {
            
        .imagen-hero-principal {
            flex-direction: column;
    
            .titulo-hero {
                font-size: 36px;
            }
    
            .formulario-hero {
                flex-direction: column;
                width: 80%;
    
                .form-floating {
                    margin: 4px 0px 4px 0px;
                }
    
                .btn {
                    margin: 4px 0px 4px 0px;
                }
            }
        }
    }
    
    .nuestro-hotel {
    
        .encabezado-seccion {

    
            .titulo-seccion {

            }
    
            .ver-mas-seccion {

            }
        }
    
        .nuestro-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
            }
    
            .btn {
                color: $color-blanco;
            }
    
    
            .nuestro-img {
                background-image: url("../img/mp-l.png");
                height: 300px;
                width: 500px;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
            }
        }
    
        .nuestro-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
            }
    
            .btn {
                color: $color-blanco;
            }
    
    
            .nuestro-img {
                background-image: url("../img/mp-r-1.png");
                height: 300px;
                width: 500px;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
                margin-right: 20px;
            }
        }
    
        .nuestro-3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
            }
    
            .btn {
                color: $color-blanco;
            }
    
            .nuestro-img {
                background-image: url("../img/mp-r-2.png");
                height: 300px;
                width: 500px;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
            }
        }
    }

    .nuestras-actividades {
        width: 100%;
        height: 500px;
        padding: 30px 60px 30px 60px;
        margin: 100px 0px 1000px 0px;
    
        .encabezado-seccion {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
    
            .titulo-seccion {
                color: $color-principal;
                font-size: 28px;
            }
    
            .ver-mas-seccion {
                color: $color-principal;
                font-style: italic;
                text-decoration: underline;
            }
        }
    
        .galeria-actividades-home {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .card {
                background-color: $color-principal;
                border: 0;
                margin: 10px 0px 10px 0px;
    
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    
                    .card-title {
                        color: $color-blanco;
                        font-size: 18px;
                        margin: 20px 0px 20px 0px;
                    }
                }
            }
        }
    }

    .hero-secundario {
        align-items: center;
    
        .titulo-hero {
            color: $color-blanco;
            font-size: 38px;
            margin-bottom: 30px;
            font-weight: 600;
            text-align: center;
        }
    
        .btn {
            
        }
    }

    .unete-club {
        display: flex;
        justify-content: center;
        margin: 100px 50px 100px 50px;
        
        .club-card {
            background-color: $color-blanco;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .imagen-club {
                background-image: url("../img/offers-club.jpg");
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
            }
    
            .club-info {
                padding: 20px;
            }
        }
    }
}

@media (max-width:1000px) {
    .hero-home {
            
        .imagen-hero-principal {
    
            .titulo-hero {
                font-size: 30px;
            }
    
            .formulario-hero {
    
                .form-floating {

                }
    
                .btn {

                }
            }
        }
    }

    .ofertas-de-temporada {

        .encabezado-seccion {
            display: flex;
            flex-direction: column;
    
            .titulo-seccion {

            }
    
            .ver-mas-seccion {

            }
        }
    
        .oferta-temporada-galeria {
            flex-direction: column;
    
            .oferta-temporada-card {
                width: 100%;
                border-radius: 8px;
                margin: 10px 0px 10px 0px;
    
                h3 {
                    font-size: 24px;
                }
            }
        }
    }

    .nuestro-hotel {
        margin-top: 1100px;

        .encabezado-seccion {
            flex-direction: column;
            
            .titulo-seccion {

            }
    
            .ver-mas-seccion {

            }
        }
    
        .nuestro-1 {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
                text-align: center;
            }
    
            .btn {
                color: $color-blanco;
                width: 100%;
            }
    
    
            .nuestro-img {
                background-image: url("../img/mp-l.png");
                height: 200px;
                width: 100%;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
                margin-bottom: 30px;
            }
        }
    
        .nuestro-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
                text-align: center;
            }
    
            .btn {
                color: $color-blanco;
                width: 100%;
            }
    
    
            .nuestro-img {
                background-image: url("../img/mp-r-1.png");
                height: 200px;
                width: 100%;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
                margin-bottom: 30px;
            }
        }
    
        .nuestro-3 {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0px 80px 0px;
    
            h3 {
                color: $color-principal;
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                color: $color-texto;
                margin-bottom: 30px;
                text-align: center;
            }
    
            .btn {
                color: $color-blanco;
                width: 100%;
            }
    
            .nuestro-img {
                background-image: url("../img/mp-r-2.png");
                height: 200px;
                width: 100%;
                border-radius: 0px 50px 0px 50px;
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
                margin-bottom: 30px;
            }
        }
    }

    .hero-secundario {
        align-items: center;
    
        .titulo-hero {
            font-size: 36px;
        }
    
        .btn {
            
        }
    }

    .ofertas-de-temporada {
        padding: 0px 50px 0px 50px;
    
        .oferta-temporada-galeria {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            .card-oferta-destacada-1 {
                width: 100%;
                height: 200px;
                margin: 10px 0px 10px 0px;
                align-items: center;
                justify-content: center;
    
                h3 {

                }
            }
    
            .card-oferta-destacada-2 {
                width: 100%;
                height: 200px;
                margin: 10px 0px 10px 0px;
                align-items: center;
                justify-content: center;
                
                h3 {
                    
                }
            }
        }
    }

    .aprovecha-verano {
        padding: 0px 50px 0px 50px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .galeria-ofertas {
            display: grid;
        }
    }

    .unete-club {
        display: flex;
        justify-content: center;
        margin: 100px 100px 100px 100px;
        
        .club-card {
            background-color: $color-blanco;
            width: 80%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .imagen-club {
                width: 100%;
                height: 300px;
                background-image: url("../img/offers-club.jpg");
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
            }
    
            .club-info {
                padding: 20px;
            }
        }
    }
}

@media (max-width:850px) {
    .hero-home {
            
        .imagen-hero-principal {
    
            .titulo-hero {
                font-size: 28px;
                margin: 0px 30px 30px 30px;
                text-align: center;
            }
    
            .formulario-hero {
    
                .form-floating {

                }
    
                .btn {

                }
            }
        }
    }

    .ofertas-de-temporada {
        padding: 30px 40px 30px 40px;

        .encabezado-seccion {

    
            .titulo-seccion {

            }
    
            .ver-mas-seccion {

            }
        }
    
        .oferta-temporada-galeria {

    
            .oferta-temporada-card {
    
                h3 {
                    font-size: 24px;
                }
            }
        }
    }

    .hero-secundario {
        align-items: center;
        padding: 0px 50px 0px 50px;
    
        .titulo-hero {
            font-size: 28px;
        }
    
        .btn {
            
        }
    }

    .unete-club {
        display: flex;
        justify-content: center;
        margin: 100px 50px 100px 50px;
        
        .club-card {
            background-color: $color-blanco;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .imagen-club {
                background-image: url("../img/offers-club.jpg");
                background-size: cover;
                background-position: center;
                background-origin: padding-box;
            }
    
            .club-info {
                padding: 20px;
            }
        }
    }
}